{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('pricing.add_header') }}" method="post">
    {{ csrf_token }}

    <p>{{ bank_code }}</p>
    <input type="text" name="bank_code" value="{{ bank_code }}" hidden>
    <table>
        <tr>
            <th></th>
            <th>Header</th>
            <th>Record as</th>
        </tr>
    {% for i, header in headers %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ header }}</td>
            <td>
                <select name="{{header}}">
                    <option value=""></option>
                    {% for data_type, label in data_types %}
                    <option value="{{ data_type }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    {% endfor %}
    </table>

    <input type="submit" value="Submit">
</form>
{% endblock %}