{% extends "base.html" %}
{% block content %}
<nav>
  <a href="{{ url_for('main.index') }}">Dashboard</a>
  {% block nav %}<a href="{{ url_for('currencies.list_currencies') }}">Currencies</a>
  <a href="{{ url_for('banks.list_banks') }}">Banks</a>
  <a href="{{ url_for('stocks.list_stocks') }}">Stocks</a>
  <a href="{{ url_for('holidays.list_holidays') }}">Holidays</a>
  <a href="{{ url_for('transaction_types.list_types') }}">Transaction Types</a>{% endblock %}
  <a href="{{ url_for('auth.logout') }}">Logout</a>
</nav>
<main>{% block main %}{% endblock %}</main>
{% endblock %}
